.error-image {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image {
    display: inline-block;
    width: 40vh;
    height: 40vh;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    font-size: 2.8rem;
    color: #2f8e89;
  }
}
